<!DOCTYPE html>

<html lang="us">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Tyler Durham">
        <meta name="description" content="This is a simple site I made to test my Web Dev skills!">
        <title>Computer Specifications</title>
        <link rel="icon" href="icon.png" type="image/x-icon"> <!--This builds the icon for the tab for your website!-->
        <link rel="stylesheet" href="~/css/Specs.css" type="text/css">
    </head>

<html>
    <body>

        <h1 class="header">COMPUTER SPECIFICATIONS</h1>

        <div class="row">
            <p class="text">Part of being a Software Developer is having internet and a functioning computer!</p>
            <p class="text">It's always important to have an up to standard computer for today's tecnology!</p>
            <p class="text">With that being said, below is a list of my Computers Specifications:</p>
        </div>
       
        <br>

        <div>
            <p class="MBHeader">MOTHERBOARD</p>
            <p class="Motherboard">EVGA x299 Micro</p>
            <img class="scroll" src="~/img/Motherboard.png" title="EVGA x299 Micro" width="500" height="500" alt="A picture of my motherboard.">
            <p class="motherboardDetails">LGA 2066, Intel X299, SATA 6GB/s, USB 3.1, USB 3.0, mATX, Intel Motherboard 131-SX-E295-KR</p>
            
            

            <p class="CPUHeader">CENTRAL PROCESSING UNIT</p>
            <p class="CPU">Intel(R) Core(TM) i7-7740X</p>
            <img class="scroll" src="/img/CPU.png" title="Intel Core I7-7740X" width="500" height="500" alt="A picture of my Central Processing Unit.">
            <p class="CPUDetails">CPU  4.30GHz, 4301 Mhz, 4 Core(s), 8 Logical Processor(s)</p>
            <p class="CPURank">Speed Rank: 181/1468</p>


            <p class="GPUHeader">GRAPHICS PROCESSING UNIT</p>
            <p class="GPU">NVIDIA Geforce RTX 3060</p>
            <img class="scroll" src="~/img/GPU.png" title="Nvidia Geforce RTX 3060" alt="A picture of my Central Processing Unit.">
            <p class="GPUDetails">The NVIDIA GeForce RTX 3060 is a fast desktop graphics card based on the Ampere architecture. It offers 12 GB GDDR6 graphics memory with a 192-bit memory bus2. The card has 3,584 cores and supports PCIe 4.0</p>
            <p class="GPURank">Speed Ranking: 64/714 </p>
            
            
            
            <p class="RAMHeader">RANDOM-ACCESS MEMORY</p>
            <p class="RAM">CORSAIR VENGEANCE® RGB PRO 32GB</p>
            <img class="scroll" src="~/img/" title="32GB RAM Sticks" width="700" height="400" alt="A picture of my Central Processing Unit.">
            <p class="RAMDetails">(2 x 16GB) DDR4 DRAM 3600MHz C16 Memory Kit</p>
        </div>
    </body>
</html>