@model Website.Models.AgeModel

<!DOCTYPE html>
<!---->
<html lang="us">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Tyler Durham">
    <meta name="description" content="This is a simple site I made to test my Web Dev skills!">
    <title>Tyler's Domain</title>
    <link rel="icon" href="icon.png" type="image/x-icon"> <!--This builds the icon for the tab for your website!-->
    <link rel="stylesheet" href="~/css/Home.css" type="text/css">
    <script src="~/js/Specs.js"></script>
    <script src="~/js/portfolio.js"></script>
</head>

<html>

<!--Image-->
<div class="scroll">
    <img class="portrait" src="/img/portrait.png" title="A picture of me! " alt="A picture of me!"> 
</div>

<!--About-->
<p class="biography">ABOUT ME:
<p class="biography">Age: @Model.MyAge</p>                                  
<p class="biography">Self Taught Programmer (WIP)</p>
<p class="biography">Years in learning: @Model.DeveloperAge</p>

<!--Buttons-->

<div class="btnOne">
    <button class="btn" onclick="PortfolioLink(this)" value="https://localhost:7256/portfolio">Portfolio</button>
</div>
                                                                                                                    
<div class="btnTwo">
    <button class="btn" onclick="SpecsLink(this)" value="https://localhost:7256/specs">PC Setup</button>
</div>

<!---Education--->
<div class="education-content">
    <h1 class="education-header">Education</h1>

    <div class="elementary-header">
        <h2>Elementary</h2>
    </div>

    <div class="elementary-bio">
        <p>
            When I was around the age of 6, I begun learning at Muller Magnet Elementary school!
            This school recieved the National award of merit for 2025!
            I recieved general education here as any typical american student does.
            Nothing crazy or suprising there, but I did recieve some accolades here and there.
            Such as winning a science award for a robot I created with another student!
            Sadly that robot wasn't ours to keep so it has been lost to time.
            A memorable moment that I had here was being the only student in my 4th grade class to recieve an autograph from a hollywood celebrity for an assignment designed to be a long distance letter sent to a famous person of our choice.
            Sadly no one in my class recieved one back, except me!
        </p>
    </div>

    <div class="middle-header">
        <h2>Middle</h2>
    </div>

    <div class="middle-bio">
        <p>
            By the time I was 12 or 13 I migrated over to Davidsen Middle School!
            I don't have too many memories here, however I do remember getting better at my Math Skills which helped me in my future programming ventures!
            Before I was ever introduced to Algebra, I struggled pretty hard with Math.
            But these days Algebra remains my favorite math subject which will certaintly come in handy in this business!
            I can confidently say if it weren't for my growth in algebra and math during this time, I probably couldn't grasp programming. Yet here we are!
        </p>
    </div>

    <div class="high-header">
        <h2>High</h2>
    </div>

    <div class="high-bio">
        <p>
            Fast forward 3 years and I entered Alonso High School!
            I recieved the honor roll 4 times and acquired straight A's during my incumbency.
            It is something that is still a mystery to me, but it seems as if during my time during middle school that my work ethic and mentality shifted for the better.
            I also gained personal achievements as well!
            I held 3 World Records doing a hobby I dabbled in during my free time when I was away from school called Speedrunning!
            I also participated in some speedrunning charity events during my time as a Speedrunner!
            Overall, I came out a B student with all this! All I can say is, this wasn't/isn't my final form. I intend to grow further.
        </p>
    </div>


    <img class="muller" src="~/img/muller.png" />
    <img class="davidsen" src="~/img/davidson.png" />
    <img class="alonso" src="~/img/alonso.png" />




    <h1 class="hobbies-header">Hobbies</h1>


    <p class="speedrunner-bio">
        I have many hobbies! I really love to exercise to keep myself fit!
        One of my bigger hobbies that I used to do was something called Speedrunning.
        Which I brefly mentioned before!
        This is a competitive E-sport with the goal of beating a game as fast
        as humanly possible. These personal bests and records are recorded on
        websites to track what the world record may be at any given point in time.
        My Speedrunning career lasted for 4 years during 2017-2020. I stopped due to time constraints!
        Overall, I have achieved 10 World Records during my time as a speedrunner for some pretty big games!
        Below is a comprehenive list of every big game I have ran; plus some honorable mentiones!
    </p>

    <div class="gow">
        <div class="speedrunning-img">
            <img src="/img/gow.png">
        </div>

        <div class="records">
            <li>God of War Any% in 4:30:26【Former World Record & Personal Best】(achieved on April 6, 2019)</li>
            <li>God of War Any% in 4:34:23</li>
            <li>God of War Any% in 4:39:08 (achieved on March 7, 2019)</li>
        </div>
    </div>
    
    <div class="days-gone">
        <div class="speedrunning-img">
            <img src="/img/daysgone.png">
        </div>

        <div class="records">
            <!---Does this class attribute break dry?--->
            <li>Days Gone in 17:18:32【Former World Record & Personal Best】(achieved in April of 2019)</li>
        </div>
    </div>


    <div class="zelda">
        <img src="/img/tp.png">
    </div>

    <div class="records">
        <!---Does this class attribute break dry?--->
        <li>The Legend of Zelda: Twilight Princess HD Any% in 3:36:09 (5 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD Any% in 3:40:08 (5 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD All Dungeons in 4:32:57 (6 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD Goron Mines RTA in 1:22:34【Former World Record】(6 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD Glitchless Master Sword in 2:38:08 【Former World Record】(6 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD Any% in 3:42:05 (6 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD Any% in 3:43:30 (7 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD Any% in 3:43:58 (7 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD Any% in 3:45:57 (7 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD 100% in 8:07:48 (7 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD All Dungeons in 4:37:10【Former World Record】(7 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD Goron Mines RTA in 1:24:15 (7 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD All Dungeons in 4:46:49【Former World Record】(7 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD Any% in 3:46:25 (7 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD Any% (No Amiibo) in 3:48:59 【Former World Record】(7 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD Goron Mines RTA in 1:24:36 (7 years ago)</li>
        <li>The Legend of Zelda: Twilight Princess HD Any% in 3:57:49 (7 years ago)</li>
    </div>

    <div class="harry-potter">
        <img src="/img/harrypotter.png">
    </div>

    <div class="records">
        <!---Does this class attribute break dry?--->
        <li>Harry Potter and the Deathly Hallows: Part 2 in 1:43:34 【Former World Record & Personal Best】(6 Years ago)</li>
        <li>Harry Potter and the Deathly Hallows: Part 2 in 1:45:08 【Former World Record】(7 Years ago)</li>
        <li>Harry Potter and the Deathly Hallows: Part 2 in 1:46:14 【Former World Record & First Personal Best】(7 Years ago)</li>
    </div>


    <h3 class="comment">I Have also participated in Speedrunning charity events:</h3>

    <div class="charity-speedruns">
        <li>Trashathon 2017</li>
        <li>Awesome Games Done Quick 2020 (Attended)</li>
    </div>
</div>
