.nav-item4 {
    position: relative;
    left: 1100px;
}

.nav-item3 {
    position: relative;
    left: 950px;
}

.nav-item2 {
    position: relative;
    left: 780px;
}

.nav-item {
    position: relative;
    left: 600px;
}

