<!DOCTYPE html>

<html lang="us">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Tyler Durham">
    <meta name="description" content="This is a simple site I made to test my Web Dev skills!">
    <title>Tyler's Domain</title>
    <link rel="icon" href="icon.png" type="image/x-icon"> <!--This builds the icon for the tab for your website!-->
    <link rel="stylesheet" href="~/css/portfolio.css" type="text/css">
</head>

<!--This is a note!-->
<body>

    <hr>

    <h2>Portfolio</h2>

    <hr>

    <h3>A Game I made (written in Python via the Ren'py engine)</h3>
    <ul>
        <li>
            <h4>The Multiversal Adventure</h4>
            <a href="https://tyloxssr.itch.io/the-multiversal-adventure-test-game"><img src="~/img/bg_pope.png" title="The Multiversal Adventure" width="280" height="200" alt="A picture showing the thumbnail of my game"></a>
        </li>
    </ul>
    <hr>
</body>
</html>